<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/Home']">Trang Chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">Thông Báo</li>
  </ol>
</nav>
<div class="row">
  <div *ngFor="let thongbao of thongbaolist"class="col-md-4">
    <div class="card">
      <a [routerLink]="[thongbao._id]"><img *ngIf="thongbao.Anh" src="{{thongbao.Anh}}" class="card-img-top" alt="ảnh" /></a>
      <a [routerLink]="[thongbao._id]"><img *ngIf="!thongbao.Anh" src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=20&m=922962354&s=612x612&w=0&h=f-9tPXlFXtz9vg_-WonCXKCdBuPUevOBkp3DQ-i0xqo=" class="card-img-top" alt="ảnh" /></a>

      <div class="card-body">
        <h3 class="card-title">{{thongbao.TieuDe | uppercase}}</h3>
        <p class="card-text">
          {{thongbao.NoiDung}}
        </p>
        <p class="card-text">
          <small class="text-muted">Cập nhật lúc {{formatDate(thongbao.NgayLap)}}</small>
        </p>
        <a [routerLink]="[thongbao._id]" class="btn btn-primary text-right">Xem chi tiết</a>
      </div>
    </div>
  </div>
</div>
