<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><a [routerLink]="['/Home']">Trang Chủ</a></li>
    <li class="breadcrumb-item " aria-current="page">Thông Báo</li>
  </ol>
</nav>
<div class="row thongbao">
  <div class="blog-post" style="width:100%">
    <div class="blog-post-title" style="margin: 12px 0;text-align: center;">
      <h2 style="color: #ff6600; display: inline-block;">THÔNG BÁO</h2>
      <h2 style="color: #fff; background-color: #3366ff; display: inline-block;margin-left: 10px;padding: 4px;"> KÝ TÚC XÁ</h2>
    </div>
    <hr />
  </div>
  <div *ngFor="let thongbao of thongbaolist"class="col-md-4">
    <div class="card">
      <a [routerLink]="[thongbao._id]"><img  style="object-fit: contain; height: 230px" *ngIf="thongbao.Anh" src="{{thongbao.Anh}}" class="card-img-top thongbao-anh" alt="ảnh" /></a>
      <a [routerLink]="[thongbao._id]"><img  style="object-fit: contain; height: 230px;"  *ngIf="!thongbao.Anh" src="https://scontent.fdad2-1.fna.fbcdn.net/v/t39.30808-6/287981034_3163488280535240_1364819498214894638_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=730e14&_nc_ohc=9jTbFdu1HWIAX9OiP2T&_nc_ht=scontent.fdad2-1.fna&oh=00_AT_E0qZY2v7EFTUrprmNYXtw6dUf4EejYd4Hch2YNZpF3Q&oe=62B86B1B" class="card-img-top thongbao-anh" alt="ảnh" /></a>

      <div class="card-body">
        <h3 class="card-title">{{thongbao.TieuDe | uppercase}}</h3>
        <p class="card-text">
          {{thongbao.NoiDung}}
        </p>
        <p class="card-text">
          <small class="text-muted">Cập nhật lúc {{formatDate(thongbao.NgayLap)}}</small>
        </p>
        <a [routerLink]="[thongbao._id]" class="btn btn-primary text-right">Xem chi tiết</a>
      </div>
    </div>
  </div>
</div>
