<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><a [routerLink]="['/home']">Trang Chủ</a></li>
    <li class="breadcrumb-item ">Nội Quy</li>
  </ol>
</nav>
<div class="noi-quy blog-main">
    <div class="blog-post">
      <div class="blog-post-title" style="margin: 12px 0;text-align: center">
        <h2 style="color: #ff6600; display: inline-block;">NỘI QUY</h2>
        <h2 style="color: #fff; background-color: #3366ff; display: inline-block;margin-left: 10px;padding: 4px;">KÝ TÚC XÁ</h2>
      </div>
    </div>
    <article class="blog-post">
      <ul>
        <li><strong>Điều 1</strong>.Người không có nhiệm vụ không được vào ký túc xá sinh viên.</li>
        <li><strong>Điều 2</strong>.Khách đến liên hệ công tác hoặc thăm người nhà ở ký túc xá phải xuất trình giấy tờ với nhân viên trực bảo vệ ký túc xá</li>
        <li><strong>Điều 3</strong>.Người ở ký túc xá khi ra vào ký túc xá phải xuất trình thẻ sinh viên với nhân viên trực bảo vệ ký túc xá. Từ 22h ngày hôm trước đến 5h ngày hôm sau, nghiêm cấm người ở ký túc xá ra vào ký túc xá (trừ trường hợp có lý do chính đáng).</li>
        <li><strong>Điều 4</strong>.Người ở ký túc xá phải thực hiện đúng các cam kết đã ký với người quản lý.</li>
        <li><strong>Điều 5</strong>.Không cho người ngoài vào phòng ở và không tiếp khách quá 22h đêm.</li>
        <li><strong>Điều 6</strong>.Không đưa xe đạp, xe máy vào ký túc xá và phải để đúng nơi quy định.</li>
        <li><strong>Điều 7</strong>.Không đun nấu, tổ chức ăn, uống rượu, bia, xả rác bừa bãi trong ký túc xá.</li>
        <li><strong>Điều 8</strong>.Không gây tiếng ồn, đốt các chất liệu gây khói, lửa, nổ.</li>
        <li><strong>Điều 9</strong>.Không sử dụng tàng trữ các loại vũ khí, hung khí dao, giáo, mác, côn… chất nổ, chất gây cháy, chất độc hại, chất gây nghiện, tiêm chích ma túy.</li>
        <li><strong>Điều 10</strong>.Giữ gìn phòng ở gọn gàng, sạch đẹp, văn minh, lịch sự, tích cực tham gia các phòng trào hội thi do Ban quản lý ký túc xá phát động và tổ chức.</li>
        <li><strong>Điều 11</strong>.Các tài sản quý giá hay máy tính, máy in, máy ảnh, ti vi, màn hình… khi đi vắng cần gửi người quản lý ký túc xá để đảm bảo an toàn.</li>
      </ul>
      <hr />
      <div class="blog-post">
        <div class="blog-post-title" style="margin: 12px 0;text-align: center">
          <h2 style="color: #ff6600; display: inline-block;">HỌC SINH SINH VIÊN NỘI TRÚ</h2>
          <h2 style="color: #fff; background-color: #3366ff; display: inline-block;margin-left: 10px;padding: 4px;">CAM KẾT THỰC HIỆN</h2>
        </div>
      </div>
      <ol>
        <li>Nếu vi phạm Điều 1, 2, 3, 5, 8, 9 thì chịu các hình thức xử lý theo Quy chế của Bộ Giáo dục-Đào tạo và các Quy định của Trường</li>
        <li>Nếu vi phạm Điều 6: lần thứ nhất phê bình nhắc nhở và đưa xe ra ngoài KTX, lần thứ 2 xe vi phạm vị tạm giữ tại nhà gửi xe 10 ngày, lần thứ 3 bị hình thức kỷ luật ra khỏi khu nội trú.</li>
        <li>Nếu vi phạm điều 7: lần thứ nhất phê bình nhắc nhở và khắc phục hậu quả do vi phạm gây ra, lần thứ 2 bị hình thức kỷ luật ra khỏi khu nội trú.</li>
        <li>Nếu vi phạm Điều 10: bị xử lý từ nhắc nhở phê bình đến hình thức giải thể phòng ở.</li>
        <li>Nếu vi phạm Điều 11: sinh viên bị mất tài sản chịu thiệt hại, đồng thời căn cứ tình tiết cụ thể để áp dụng các biện pháp thích ứng nhằm ngăn chặn tái phạm.</li>
      </ol>
      <hr />
      <div class="blog-post">
        <div class="blog-post-title" style="margin: 12px 0;text-align: center">
          <h2 style="color: #ff6600; display: inline-block;">CỤ THỂ HÓA NỘI QUY</h2>
          <h2 style="color: #fff; background-color: #3366ff; display: inline-block;margin-left: 10px;padding: 4px;">KÝ TÚC XÁ</h2>
        </div>
      </div>
      <ol class="lower-alpha">
        <li  class="lower-alpha-title">Trật tự nội vụ
        </li>
        <ol>
          <li>Phòng ở gọn gàng, ngăn nắp, thông thoáng cụ thể: Chăn màn, tư trang sắp xếp gọn; khăn mặt, khăn tắm, quần, áo; dày, dép, mũ, nón phải đặt ngay ngắn, đúng quy định thống nhất trong từng phòng và trong khu KTX.</li>
          <li>Trong khuôn viên KTX, phòng ở không dán giấy, tranh ảnh…đóng đinh lên tường, không có quảng cáo, rao vặt trái phép </li>
          <li>Bảo quản và sử dụng tốt tài sản công, các phương tiện phòng, chống cháy nổ; không để xảy ra cháy, nổ trong ký túc xá, không sử dụng bếp điện, bếp ga đun nấu trong phòng, không câu móc điện sai quy định</li>
        </ol>
        <li class="lower-alpha-title">Vệ sinh, môi trường
        </li>
        <ol>
          <li>Phòng ở thông thoáng, quét dọn sạch sẽ, không có mùi hôi, không có mạng nhện, hệ thống thoát nước thải, nhà cầu không bị tắc, ứ đọng, không có bọ gậy, loăng quoăng</li>
          <li>Rác tập kết đúng giờ, không để rác và sọt rác trước hành lang ngoài giờ quy định.</li>
          <li>Phòng ở tham gia tích cực và phối hợp với các bộ phận chức năng của Trường trong việc phòng chống dịch bệnh: sốt xuất huyết, bệnh ngoài da…</li>
        </ol>
        <li class="lower-alpha-title">An ninh trật tự

        </li>
        <ol>
          <li >Chấp hành quy định về thời gian sinh hoạt tại KTX:
            - Thời gian tự học tập; sinh hoạt, ngủ, nghỉ.
            - Thời gian tiếp khách, giao lưu với bạn.
            </li>
          <li>Chấp hành quy định về giữ gìn trật tự, an toàn tại KTX:
            - Không ồn ào, nói chuyện to tiếng, mở nhạc, hoặc có những hành động, hành vi gây mất trật tự trong khuôn viên KTX.
            - Không uống rượu, bia, đánh bài, cá cược dưới mọi hình thức.
            - Không có hành vi và tham gia vào các hoạt động liên quan đến mại dâm, ma túy, mê tín dị đoan và các hình thức đồi trụy khác.
            - Không để xảy ra sự cố mất an toàn về người và tài sản..
            </li>
          <li>Kiểm soát chặt người ra vào KTX, phòng ở đúng số lượng và đúng tên sinh viên; phối hợp với Bảo vệ hoặc Công an, kịp thời phát hiện và xử lý (hoặc đề xuất xử lý) người ngoài vào trong KTX trái phép, người có hành vi tiêu cực.</li>
            <li>Tổ chức tốt phong trào “Sinh viên tự quản ký túc xá” tham gia giữ gìn trật tự, an toàn, Có thùng thư góp ý, tố giác tệ nạn, tội phạm</li>
        </ol>
      </ol>

    </article>
</div>
