<div class="container-form">
  <button class="btn btn-lg btn-outline-primary btn-left" [routerLink]="['create', 1]">
    Thêm Hóa Đơn
  </button>
  <table
    datatable
    id="datatables"
    [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger"
    class="row-border hover"
  >
    <thead>
      <tr>
        <th class="table-title">STT</th>
        <th class="table-title">Phòng</th>
        <th class="table-title">Người nộp</th>
        <th class="table-title">Tổng tiền</th>
        <th class="table-title">Ngày nộp</th>
        <th class="table-title">người tạo</th>
        <th class="table-title">Hoạt động</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of hoadondiennuoc.reverse(); index as i">
        <td>{{ i + 1 }}</td>
        <td >
          <div *ngFor="let itemPhong of Phong">
            <div *ngIf="itemPhong._id == item.PhongID">
              {{itemPhong.TenPhong}}
            </div>
         </div>
        </td>
        <td>{{item.HoTenNguoiNop}}</td>
        <td>{{item.TongTien}}</td>
        <td>{{ formatDate(item.NgayLap) }}</td>
        <td >
          <div *ngFor="let itemNV of this.nhanvien">
            <div *ngIf="itemNV._id == item.NhanVienID">
              {{itemNV.HoTen}}
            </div>
         </div>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-primary btn-sm mr-2 "
            [routerLink]="['details', item._id]"
          >
            Chi tiết
          </button>
          <button
            class="btn-wide btn btn-success btn-sm  mr-2 "
            [routerLink]="['edit', item._id]"
          >
            Chỉnh sửa
          </button>
          <button (click)="open(confirm)"  class="btn-icon btn-icon-only btn-sm btn btn-outline-danger">
            <i class="pe-7s-trash btn-icon-wrapper"> xóa</i>
          </button>
          <ng-template #confirm let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Thông báo</h4>

            </div>
            <div class="modal-body">
              <p>Bạn chắn chắn muốn xóa thông báo?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" aria-label="Close" (click)="d('Cross click')">Hủy</button>
              <button type="button" class="btn btn-danger" (click)="deleteHoaDonDienNuoc(item._id,deleted)" (click)="c('Save click')">Xóa</button>
              <ng-template #deleted let-c="close" let-d="dismiss">
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Thông báo</h4>
                </div>
                <div class="modal-body">
                  <p>Bạn đã xóa thành công thông báo</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success" aria-label="Close" (click)="d('Cross click')">Đồng ý</button>
                </div>
              </ng-template>
            </div>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>

