<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Tên phòng</th>
      <th scope="col">Số điện đầu</th>
      <th scope="col">Sô điện cuối</th>
      <th scope="col">Giá điện</th>
      <th scope="col">số nước đầu</th>
      <th scope="col">Sô nước cuối</th>
      <th scope="col">Giá nước</th>
      <th scope="col">Tổng tiền</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of hoadon; index as i">
      <th scope="row">{{i + 1}}</th>
      <td >
        <div *ngFor="let itemPhong of phong">
          <div *ngIf="itemPhong._id == item.PhongID">
            {{itemPhong.TenPhong}}
          </div>
       </div>
      </td>
      <td>{{item.ChiSoDienDauKy}}</td>
      <td>{{item.ChiSoDienCuoiKy}}</td>
      <td>{{item.DonGiaDien}}</td>
      <td>{{item.ChiSoNuocDauKy}}</td>
      <td>{{item.ChiSoNuocCuoiKy}}</td>
      <td>{{item.DonGiaNuoc}}</td>
      <td>{{item.TongTien}}</td>
    </tr>
  </tbody>
</table>

