<footer class="bg-main text-white text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Ký túc xá đại học sư phạm kỹ thuật</h5>
        <p>
          Địa chỉ: 2 Thanh Sơn, Thanh Bình, Hải Châu, Đà Nẵng, Việt Nam
        </p>
         <p>
          Email: kytucxaspkt@ute.udn.vn
        </p>
        <p>
         Điện thoại: (0236) 3530590 
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h6 class="text-uppercase">THỜI GIAN TIẾP NHẬN
</h6>

        <ul class="list-unstyled mb-0">
          <li>
            <p class="text-white">Thứ Hai - thứ Sáu</p>
          </li>
          <li>
            <p class="text-white">07h30 - 11h30 ; 13h30 - 17h30</p>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h6 class="text-uppercase mb-0">Liên kết</h6>

        <ul class="list-unstyled">
          <li>
            <a href="https://ute.udn.vn/" class="text-white">Trang trường</a>
          </li>
          <li>
            <a href="http://daotao.ute.udn.vn/" class="text-white">Trang đào tạo</a>
          </li>
          <li>
            <a href="https://sinhvien.ute.udn.vn/" class="text-white">Trang sinh viên</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 
    <a class="text-white" href="https://mdbootstrap.com/">Ký túc xá đại học sư phạm kỹ thuật</a>
  </div>
  <!-- Copyright -->
</footer>