<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>
<div class="row">
  <div class="col-md-12 blog-main">
    <div class="blog-post">
      <h2 class="blog-post-title" style="margin: 12px 0">
        <h2 style="color: #ff6600; display: inline-block;">ĐÔI NÉT VỀ</h2>
        <h2 style="color: #fff; background-color: #3366ff; display: inline-block;margin-left: 10px;padding: 4px;">KÝ TÚC XÁ ĐÀ NẴNG</h2>
      </h2>
      <img
        src="https://cdn.quanlychitieu.com/public/media/news/media/posts/sinh-vien-co-nen-o-ky-tuc-xa-hay-khong/tan-sinh-vien-nen-o-ki-tuc-xa-khong.jpg"
        style="width: 100%"
        alt=""
      />
      <ul class="list-style-2">
        <li style="text-align: justify;"><span style="color: #000000;">Là dự án đầu tiên được xây dựng có quy mô nhất Miền trung, do UBND TP. Đà Nẵng làm chủ đầu tư từ nguồn vốn trái phiếu của Chính phủ góp phần thực hiện chính sách an sinh xã hội, tạo nơi lưu trú văn minh, hiện đại dành cho sinh viên đang học tập tại các trường đại học, cao đẳng, trung cấp và dạy nghề trên địa bàn TP. Đà Nẵng.</span></li>
        <li style="text-align: justify;"><span style="color: #000000;">Ký túc xá thoáng mát, sạch sẽ, môi trường “xanh, sạch, đẹp” với tiêu chí: “CHUẨN MỰC – VĂN MINH – HIỆN ĐẠI”.</span></li>
        <li style="text-align: justify;"><span style="color: #000000;">Quản lý sinh viên bằng phần mềm tiên tiến, đặc biệt về an ninh trật tự trong Ký túc xá được đảm bảo,  kiểm soát ra, vào có hệ thống camera hỗ trợ giám sát chặt chẽ, có đầy đủ các dịch vụ tiện ích nhằm tạo cho các bạn sinh viên an tâm nghỉ ngơi, học tập, đáp ứng nhu cầu sinh hoạt, vui chơi, giải trí lành mạnh.</span></li>
      </ul>
      <hr />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 blog-main">
    <div class="blog-post">
      <h2 class="blog-post-title" style="margin: 12px 0">
        <h2 style="color: #3366ff; display: inline-block;">GIỚI</h2>
        <h2 style="color: #fff; background-color: #ff6600; display: inline-block;margin-left: 10px;padding: 4px;">THIỆU CHUNG</h2>
      </h2>
      <img
        src="https://cafefcdn.com/2020/3/25/db4c1279-1585103343848695628731.jpg"
        style="width: 100%"
        alt=""
      />
      <ul class="list-style-2">
        <li style="text-align: justify;"><span style="color: #000000;">Thực hiện Nghị quyết số 18/NQ-CP, Quyết định số 65/2009/QĐ-TTg của Chính phủ về phát triển nhà ở cho học sinh sinh viên các trường đại học, cao đẳng, trung cấp chuyên nghiệp&nbsp;và dạy nghề.</span></li>
        <li style="text-align: justify;"><span style="color: #000000;">Quyết định số 4874/QĐ-UBND ngày 29/06/2009 của UBNDTP Đà Nẵng V/v phê duyệt dự án đầu tư Ký túc xá tập trung phục vụ cho học sinh sinh viên các trường đại học, cao đẳng, trung cấp chuyên nghiệp&nbsp;và dạy nghề trên địa bàn&nbsp;TP. Đà Nẵng.</span></li>
        <li style="text-align: justify;"><span style="color: #000000;">Công trình Ký túc xá được UBND TP. Đà Nẵng làm chủ đầu tư, giao cho Liên danh Công ty cổ phần Đức Mạnh và Công ty cổ phần đầu tư &amp;&nbsp;xây dựng 579 thi công xây dựng.</span></li>
        <li style="text-align: justify;"><span style="color: #000000;">Đưa vào khai thác kể từ tháng 8 năm 2012 ở khu Ký túc xá phía Tây và tháng 8 năm 2013 ở khu Ký túc xá phía Đông. Ban đầu Ký túc xá được thành phố giao cho Liên doanh DMC-579 quản lý vận hành khai thác, đến 01/01/2017 Ký túc xá TP. Đà Nẵng chuyển giao cho <strong style="color: #000000; font-size: 12pt;">“Công ty Quản lý nhà Đà Nẵng”</strong> trực tiếp quản lý, vận hành và khai thác. </span></li>
        <li style="text-align: justify;"><span style="color: #000000;">Đến ngày 7/9/2018 UBND thành phố Đà Nẵng ký Quyết định số 3918/QĐ-UBND về việc thành lập <strong>Trung tâm Quản lý và Khai thác nhà Đà Nẵng</strong> trực thuộc Sở Xây dựng trên cơ sở hợp nhất Công ty Quản lý nhà Đà Nẵng và Công ty Quản lý nhà chung cư thành phố Đà Nẵng trực thuộc Sở Xây dựng.</span></li>
        <li style="text-align: justify;"><span style="color: #000000;">Ký túc xá thoáng mát, sạch sẽ, môi trường “xanh, sạch, đẹp” với tiêu chí: “CHUẨN MỰC – VĂN MINH – HIỆN ĐẠI”. Quản lý sinh viên bằng phần mềm tiên tiến, đặc biệt về an ninh trật tự trong ký túc xá được đảm bảo, &nbsp;kiểm soát ra, vào có hệ thống camera hỗ trợ giám sát chặt chẽ, có đầy đủ các dịch vụ tiện ích nhằm tạo cho các bạn Sinh viên an tâm nghỉ ngơi, học tập, đáp ứng nhu cầu sinh hoạt, vui chơi, giải trí lành mạnh.</span></li>
      </ul>
      <hr />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 blog-main">
    <div class="blog-post">
      <h2 class="blog-post-title" style="margin: 12px 0">
        <h2 style="color: #3366ff; display: inline-block;">DỊCH VỤ</h2>
        <h2 style="color: #fff; background-color: #ff6600; display: inline-block;margin-left: 10px;padding: 4px;">TIỆN ÍCH ĐA DẠNG</h2>
      </h2>
      <img
        src="http://ktxdn.vn/wp-content/uploads/2015/10/service.jpg"
        style="width: 100%"
        alt=""
      />
      <ul class="list-style-2">
        <li>Nhà ăn, điểm tâm</li>
        <li>Siêu thị mini tiện lợi</li>
        <li>Đào tạo lái xe ôtô, môtô</li>
        <li>Dạy tiếng anh</li>
        <li>Dịch vụ giặt ủi</li>
        <li>Dịch vụ cắt tóc</li>
        <li>Dịch vụ photocopy</li>
        <li>Câu lạc bộ thể hình</li>
        <li>Hệ thống wifi phủ sóng khắp Ký túc xá</li>
        <li>Và còn rất nhiều dịch vụ tiện ích khác đi kèm đáp ứng nhu cầu ăn, ở, học tập và sinh hoạt của các bạn sinh viên…
        <div class="wpb_column vc_column_container vc_col-sm-6"></div>
        <div class="wpb_column vc_column_container vc_col-sm-6"></div>
        </li>
      </ul>

      <blockquote style="margin: 22px 0;
      padding: 2px 32px;
      border-left-width: 4px;
      border-left: 5px solid #f26522;
      font-size: 14px;
      line-height: 22px;
      color: #888888;
      font-style: italic;"><p>
        <span style="font-size: 14pt;">Ngoài ra chúng tôi luôn sẵn sàng hợp tác với các đối tác dịch vụ bên ngoài, nhằm đa dạng hóa mô hình dịch vụ, phục vụ tốt nhất cho các bạn sinh viên.</span>
        </p>
      </blockquote>
      <hr />
    </div>
  </div>
</div>
