<div class="row">
  <div class="col-md-12 blog-main">
    <div class="blog-post">
      <h2 class="blog-post-title">GIỚI THIỆU CHUNG</h2>
      <img
        src="https://ute.udn.vn/Upload/donsvsaudich/1398dd54b6734c2d1562.jpg"
        style="width: 100%"
        alt=""
      />
      <p>
        Ký túc xá Trường đại học Tôn Đức Thắng cơ sở Tân Phong nằm trong khuôn
        viên Trường đại học Tôn Đức Thắng, Phường Tân Phong, Quận 7, TP. Hồ Chí
        Minh, được đầu tư xây dựng từ nguồn vốn Trái phiếu Chính phủ; Với cơ chế
        hoạt động "Tự chủ tài chính, lấy thu bù chi" và phương châm "Nề nếp, văn
        minh, hiệu quả, an toàn, bền vững, lâu dài", Ký túc xá phục vụ người
        học, tạo điều kiện tốt nhất trong ăn ở, sinh hoạt và học tập cho sinh
        viên ở nội trú, bổ sung cho các hoạt động chính của Trường, góp phần
        thực hiện tốt mục tiêu và nhiệm vụ đào tạo của Nhà trường.
      </p>
      <hr />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 blog-main">
    <div class="blog-post">
      <h2 class="blog-post-title">GIỚI THIỆU CHUNG</h2>
      <img
        src="https://ute.udn.vn/Upload/donsvsaudich/1398dd54b6734c2d1562.jpg"
        style="width: 100%"
        alt=""
      />
      <p>
        Ký túc xá Trường đại học Tôn Đức Thắng cơ sở Tân Phong nằm trong khuôn
        viên Trường đại học Tôn Đức Thắng, Phường Tân Phong, Quận 7, TP. Hồ Chí
        Minh, được đầu tư xây dựng từ nguồn vốn Trái phiếu Chính phủ; Với cơ chế
        hoạt động "Tự chủ tài chính, lấy thu bù chi" và phương châm "Nề nếp, văn
        minh, hiệu quả, an toàn, bền vững, lâu dài", Ký túc xá phục vụ người
        học, tạo điều kiện tốt nhất trong ăn ở, sinh hoạt và học tập cho sinh
        viên ở nội trú, bổ sung cho các hoạt động chính của Trường, góp phần
        thực hiện tốt mục tiêu và nhiệm vụ đào tạo của Nhà trường.
      </p>
      <hr />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 blog-main">
    <div class="blog-post">
      <h2 class="blog-post-title">GIỚI THIỆU CHUNG</h2>
      <img
        src="https://ute.udn.vn/Upload/donsvsaudich/1398dd54b6734c2d1562.jpg"
        style="width: 100%"
        alt=""
      />
      <p>
        Ký túc xá Trường đại học Tôn Đức Thắng cơ sở Tân Phong nằm trong khuôn
        viên Trường đại học Tôn Đức Thắng, Phường Tân Phong, Quận 7, TP. Hồ Chí
        Minh, được đầu tư xây dựng từ nguồn vốn Trái phiếu Chính phủ; Với cơ chế
        hoạt động "Tự chủ tài chính, lấy thu bù chi" và phương châm "Nề nếp, văn
        minh, hiệu quả, an toàn, bền vững, lâu dài", Ký túc xá phục vụ người
        học, tạo điều kiện tốt nhất trong ăn ở, sinh hoạt và học tập cho sinh
        viên ở nội trú, bổ sung cho các hoạt động chính của Trường, góp phần
        thực hiện tốt mục tiêu và nhiệm vụ đào tạo của Nhà trường.
      </p>
      <hr />
    </div>
  </div>
</div>
