
.navbar {
  padding: unset;
  background-color: #002878;
}

.nav-link{
  color: #fff !important;
  font-weight: 600;
}

#navbarCollapse {
  max-width: 1140px;
  margin: 0 auto;
}
.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: 0 auto;
}
.bg-main {
  background-color: #002878;
}
.nav-link:last-child{
  border-right: none;
}
.carousel {
  margin-top: 48px;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  padding: 12px;
  border-right: 1px solid #fff;
}
.nav-link-active{
  background-color: #ff6600;
  color: #fff !important;
}
@media only screen and (max-width: 768px) {
  .navbar {
    padding: .5rem 1rem;
  }

  .navbar-dark .navbar-nav .nav-link {
    padding: 12px;
    border-bottom: 1px solid #fff;
    border-right: unset;
  }
}
