<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><a [routerLink]="['/home']">Trang Chủ</a></li>
    <li class="breadcrumb-item active"><a [routerLink]="['/home/thongbao']">Thông Báo</a></li>
    <li class="breadcrumb-item " aria-current="page">Chi Tiết Thông Báo</li>
  </ol>
</nav>
<div class="row">
  <div class="blog-post" style="width: 100%;">
    <div class="blog-post-title" style="margin: 12px 0;text-align: center;">
      <h2 style="color: #ff6600; display: inline-block;">CHI TIẾT THÔNG BÁO</h2>
      <h2 style="color: #fff; background-color: #3366ff; display: inline-block;margin-left: 10px;padding: 4px;"> KÝ TÚC XÁ</h2>
    </div>
    <hr />
  </div>
  <div class="col">
    <div class="card mb-3">
      <img *ngIf="thongbao.Anh"src="{{thongbao.Anh}}" class="card-img-top thongbao-anh" alt="ảnh" style="object-fit: contain;">
      <img *ngIf="!thongbao.Anh" style="object-fit: contain;" src="https://scontent.fdad2-1.fna.fbcdn.net/v/t39.30808-6/287981034_3163488280535240_1364819498214894638_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=730e14&_nc_ohc=9jTbFdu1HWIAX9OiP2T&_nc_ht=scontent.fdad2-1.fna&oh=00_AT_E0qZY2v7EFTUrprmNYXtw6dUf4EejYd4Hch2YNZpF3Q&oe=62B86B1B" class="card-img-top thongbao-anh" alt="ảnh">

      <div class="card-body">
        <h5 class="card-title">{{thongbao.TieuDe}}</h5>
        <p class="card-text">{{thongbao.NoiDung}}</p>
        <p class="card-text"><small class="text-muted">Cập nhật lúc {{formatDate(thongbao.NgayLap)}}</small></p>
      </div>
    </div>
  </div>
</div>
