<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Tên phòng</th>
      <th scope="col">Số lượng chứa</th>
      <th scope="col">Sô lượng đang ở</th>
      <th scope="col">Tình trạng</th>
      <th scope="col">Hoạt động</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let phong of phongTrong; index as i">
      <th scope="row">{{i + 1}}</th>
      <td>{{phong.TenPhong}}</td>
      <td>{{phong.SoLuongChua}}</td>
      <td>{{phong.SoLuongDangO}}</td>
      <td>{{phong.TinhTrang}}</td>
      <td><button [routerLink]="[phong._id]" type="button" class="btn btn-primary btn-sm mr-2" tabindex="0"> Đăng ký tạm trú </button></td>
    </tr>
  </tbody>
</table>
