<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><a [routerLink]="['/home']">Trang Chủ</a></li>
    <li class="breadcrumb-item">Đăng Tạm Trú</li>
  </ol>
</nav>
<div class="blog-post">
  <div class="blog-post-title" style="margin: 12px 0;text-align: center">
    <h2 style="color: #ff6600; display: inline-block;">ĐĂNG KÝ TẠM TRÚ</h2>
    <h2 style="color: #fff; background-color: #3366ff; display: inline-block;margin-left: 10px;padding: 4px;"> KÝ TÚC XÁ</h2>
  </div>
  <hr />
</div>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Khu Nam</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Khu Nữ</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Tên phòng</th>
          <th scope="col">Số lượng chứa</th>
          <th scope="col">Sô lượng đang ở</th>
          <th scope="col">Tình trạng</th>
          <th scope="col">Hoạt động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let phong of phongNam; index as i">
          <th scope="row">{{i + 1}}</th>
          <td>{{phong.TenPhong}}</td>
          <td>{{phong.SoLuongChua}}</td>
          <td>{{phong.SoLuongDangO}}</td>
          <td>{{phong.TinhTrang}}</td>
          <td><button [routerLink]="[phong._id]" type="button" class="btn btn-primary btn-sm mr-2" tabindex="0"> Đăng ký phòng</button></td>
        </tr>
      </tbody>
  </table></div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"><table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Tên phòng</th>
        <th scope="col">Số lượng chứa</th>
        <th scope="col">Sô lượng đang ở</th>
        <th scope="col">Tình trạng</th>
        <th scope="col">Hoạt động</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let phong of this.phongNu; index as i">
        <th scope="row">{{i + 1}}</th>
        <td>{{phong.TenPhong}}</td>
        <td>{{phong.SoLuongChua}}</td>
        <td>{{phong.SoLuongDangO}}</td>
        <td>{{phong.TinhTrang}}</td>
        <td><button [routerLink]="[phong._id]" type="button" class="btn btn-primary btn-sm mr-2" tabindex="0"> Đăng ký phòng</button></td>
      </tr>
    </tbody>
  </table> </div>
</div>

