<div class="container-form">
  <button class="btn btn-lg btn-outline-primary btn-left" [routerLink]="['create', 1]">
    Thêm nhân viên
  </button>
  <table
    datatable
    id="datatables"
    [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger"
    class="row-border hover"
  >
    <thead>
      <tr>
        <th class="table-title">STT</th>
        <th class="table-title">Họ và tên</th>
        <th class="table-title">Giới tính</th>
        <th class="table-title">Ngày sinh</th>
        <th class="table-title">Địa chỉ</th>
        <th class="table-title">Hoạt động</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of nhanvien.reverse(); index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ person.HoTen }}</td>
        <td>{{ person.GioiTinh == true ? "Nam" : "Nữ" }}</td>
        <td>{{ person.NgaySinh | date: "dd/MM/yyyy" }}</td>
        <td>{{ person.DiaChi }}</td>
        <td>
          <button
            type="button"
            class="btn btn-primary btn-sm mr-2"
            [routerLink]="['details', person._id]"
          >
            Chi tiết
          </button>
          <button
            class="btn-wide btn btn-sm btn-success mr-2"
            [routerLink]="['edit', person._id]"
          >
            Chỉnh sửa
          </button>
          <button
          class="btn-wide btn  btn-sm btn-info  mr-2"
          [routerLink]="['/admin/taikhoan/', person._id]"
        >
        Tài khoản
        </button>
          <button (click)="open(confirm)"  class="btn-icon btn-icon-only  btn-sm btn btn-outline-danger">
            <i class="pe-7s-trash btn-icon-wrapper"></i>
          </button>

          <ng-template #confirm let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Thông báo</h4>

            </div>
            <div class="modal-body">
              <p>Bạn chắn chắn muốn xóa nhân viên: <strong>{{person.HoTen}}</strong> ?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" aria-label="Close" (click)="d('Cross click')">Hủy</button>
              <button type="button" class="btn btn-danger" (click)="deleteNhanVien(person._id,deleted)" (click)="c('Save click')">Xóa</button>
              <ng-template #deleted let-c="close" let-d="dismiss">
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Thông báo</h4>
                </div>
                <div class="modal-body">
                  <p>Bạn đã xóa thành công nhân viên: <strong>{{person.HoTen}}</strong></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success" aria-label="Close" (click)="d('Cross click')">Đồng ý</button>
                </div>
              </ng-template>
            </div>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>

