<div class="container-form">
  <button class="btn btn-lg btn-outline-primary" [routerLink]="['create', 1]">
    Thêm nhân viên
  </button>
  <table
    datatable
    id="datatables"
    [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger"
    class="row-border hover"
  >
    <thead>
      <tr>
        <th class="table-title">STT</th>
        <th class="table-title">Họ và tên</th>
        <th class="table-title">Giới tính</th>
        <th class="table-title">Ngày sinh</th>
        <th class="table-title">Địa chỉ</th>
        <th class="table-title">Hoạt động</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of nhanvien; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ person.HoTen }}</td>
        <td>{{ person.GioiTinh == true ? "Nam" : "Nữ" }}</td>
        <td>{{ person.NgaySinh | date: "dd/MM/yyyy" }}</td>
        <td>{{ person.DiaChi }}</td>
        <td>
          <button
            type="button"
            class="btn btn-primary btn-sm mr-2"
            [routerLink]="['details', person._id]"
          >
            Details
          </button>
          <button
            class="btn-wide btn btn-success mr-2"
            [routerLink]="['edit', person._id]"
          >
            Edit
          </button>
          <button (click)="open(content,{textBtn: 'Xóa', message: 'Bạn có chắc chắn muốn xóa'},person)"  class=" mr-2 btn-icon btn-icon-only  btn-sm btn btn-outline-danger">
            <i class="pe-7s-trash btn-icon-wrapper"> xóa</i>
          </button>
          <button
          class="btn-wide btn btn-success"
          [routerLink]="['/admin/taikhoan/', person._id]"
        >
          tài khoản
        </button>
          <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Thông báo</h4>

            </div>
            <div class="modal-body">
              <p>{{message}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" aria-label="Close" (click)="d('Cross click')">Hủy</button>
              <button type="button" class="btn btn-outline-dark" (click)="deleteNhanVien(person._id,content2)" (click)="c('Save click')">{{textBtn}}</button>
              <ng-template #content2 let-c="close" let-d="dismiss">
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Thông báo</h4>
                </div>
                <div class="modal-body">
                  <p>{{message}}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark" aria-label="Close" (click)="d('Cross click')">{{textBtn}}</button>
                </div>
              </ng-template>
            </div>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>

