<div class='mt-4'>
  <form class="form-signin">
      <div class="text-center mb-4">
        <h1 class="h2 mb-3 font-weight-normal">Quên mật khẩu</h1>
        <p>Vui lòng nhập email của bạn để để được khôi phục mật khẩu</p>
      </div>

      <div class="form-label-group">
        <label for="inputEmail">Email</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Tài khoản" required autofocus>
      </div>
      <div class="row mb-4">
  </div>  
      <button class="btn btn-lg btn-primary btn-block" type="submit">Gửi</button>
    </form>
</div>