<main role="main">
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-7">
    </div>
    <div class="col-md-3">
      {{!-- <img src="https://dean1665.vn/uploads/school/truong-cd-sp-kt-da-nang.png " class="img-thumbnail" alt="..."> --}}
    </div>
  </div>
  </div>
</main>