<div class="container-form" >
  <form  *ngIf="nhanVienForm"  [formGroup]="nhanVienForm">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Họ và tên: </label>
      <div class="col-sm-10">
        <input type="text" [attr.disabled]="isDisabledEdit ? '': null"  Class="form-control" formControlName="HoTen"  placeholder=" {{isDisabledEdit ? '': 'Nhập Họ và tên'}}">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Giới tính: </label>
      <div class="col-sm-10">

        <select  [attr.disabled]="isDisabledEdit ? '': null"  Class="form-control" formControlName="GioiTinh">
          <option [value]=true>Nam</option>
          <option [value]=false>Nữ</option>
        </select>
      </div>

    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Ngày sinh: </label>
      <div class="col-sm-10">
      <input type="date"   [attr.disabled]="isDisabledEdit ? '': null"  Class="form-control"   formControlName="NgaySinh" id="birthday" name="birthday">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">SĐT: </label>
      <div class="col-sm-10">
        <input type="text"  [attr.disabled]="isDisabledEdit ? '': null"  Class="form-control" formControlName="SDT"  placeholder=" {{isDisabledEdit ? '': 'Nhập SĐT'}}">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">CMND: </label>
      <div class="col-sm-10">
        <input type="text"  [attr.disabled]="isDisabledEdit ? '': null"  Class="form-control" formControlName="CMND"  placeholder=" {{isDisabledEdit ? '': 'Nhập CMND'}}">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Nơi cấp: </label>
      <div class="col-sm-10">
        <input type="text"  [attr.disabled]="isDisabledEdit ? '': null"  Class="form-control" formControlName="NoiCap"  placeholder=" {{isDisabledEdit ? '': 'Nhập Nơi cấp'}}">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Dân tộc: </label>
      <div class="col-sm-10">
        <input type="text"  [attr.disabled]="isDisabledEdit ? '': null"  Class="form-control" formControlName="DanToc"  placeholder=" {{isDisabledEdit ? '': 'Nhập Dân tộc'}}">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Tôn giáo: </label>
      <div class="col-sm-10">
        <input type="text"  [attr.disabled]="isDisabledEdit ? '': null"  Class="form-control" formControlName="TonGiao"  placeholder=" {{isDisabledEdit ? '': 'Nhập Tôn giáo'}}">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Địa chỉ: </label>
      <div class="col-sm-10">
        <input type="text"  [attr.disabled]="isDisabledEdit ? '': null"  Class="form-control" formControlName="DiaChi"  placeholder=" {{isDisabledEdit ? '': 'Nhập Địa chỉ'}}">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Chức vụ</label>
      <div class="col-sm-10">
        <input type="text"  [attr.disabled]="isDisabledEdit ? '': null"  Class="form-control" formControlName="ChucVu"  placeholder=" {{isDisabledEdit ? '': 'Nhập Chức vụ'}}">
      </div>
    </div>
    <div style=" display: flex; justify-content: space-around;">
      <button type="button" [routerLink]="['/admin/nhanvien']" class="btn btn-secondary">Trở về</button>
      <button *ngIf="!isDisabledEdit && params['active'] == 'create'" type="submit" (click)="onSubmitForm(content3)"  class="btn-wide btn btn-success">Tạo nhân viên</button>
      <button *ngIf="!isDisabledEdit && params['active'] == 'edit'" type="submit" (click)="open(content)"  class="btn-wide btn btn-success">Cập nhật</button>
    </div>
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Thông báo</h4>
      </div>
      <div class="modal-body">
        <p>Bạn chắn chắn muốn cập nhật?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" aria-label="Close" (click)="d('Cross click')">Hủy</button>
        <button type="button" class="btn btn-warning" (click)="onSubmitForm(content2)" (click)="c('Save click')">Cập nhật</button>
        <ng-template #content2 let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Thông báo</h4>
          </div>
          <div class="modal-body">
            <p>Đã cập nhật thành công</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" aria-label="Close" (click)="d('Cross click')">OKE</button>
          </div>
        </ng-template>
      </div>
    </ng-template>
    <ng-template #content3 let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Thông báo</h4>
      </div>
      <div class="modal-body">
        <p>Tạo mới nhân viên thành công</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" aria-label="Close" (click)="d('Cross click')">OKE</button>
      </div>
    </ng-template>
  </form>
</div>

